<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xzit.core.dao.mapper.ExamTeachingResearchOfficeMapper">

    <resultMap type="ExamTeachingResearchOffice" id="ExamTeachingResearchOfficeResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectExamTeachingResearchOfficeVo">
        select id, name, remark, create_time, create_by, update_time, update_by
        from exam_teaching_research_office
    </sql>

    <select id="selectExamTeachingResearchOfficeList" parameterType="ExamTeachingResearchOffice" resultMap="ExamTeachingResearchOfficeResult">
        <include refid="selectExamTeachingResearchOfficeVo"/>
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            and is_valid = 0
        </where>
    </select>

    <insert id="insertExamTeachingResearchOffice" parameterType="ExamTeachingResearchOffice" useGeneratedKeys="true" keyProperty="id">
        insert into exam_teaching_research_office
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateExamTeachingResearchOffice" parameterType="ExamTeachingResearchOffice">
        update exam_teaching_research_office
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id} and is_valid = 0
    </update>

    <delete id="deleteExamTeachingResearchOfficeById" parameterType="Long">
        update exam_teaching_research_office set is_valid = 1 where id = #{id}
    </delete>

    <delete id="deleteExamTeachingResearchOfficeByIds" parameterType="Long">
        delete from exam_teaching_research_office where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByUserId" parameterType="long" resultMap="ExamTeachingResearchOfficeResult">
        select o.id, o.name, o.remark, o.create_time, o.create_by, o.update_time, o.update_by
        from exam_teaching_research_office o
        inner join exam_teaching_research_office_user r on r.teaching_research_office_id = o.id
        where r.user_id = #{userId}
          and o.is_valid = 0
    </select>
</mapper>
